.card {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1.5px solid rgb(26, 73, 117);
  text-align: center;
  box-shadow: 4px 4px 2px rgba(56, 101, 197, 0.753);
}

.card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.teamA {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

.teamA > img {
  height: 100px;
}

.teamB {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

.teamB > img {
  height: 100px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
