.Popup {
  position: fixed;
  top: 20%;
  border: solid black 1px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1600px;
  z-index: 3;
  font-weight: 600;
}
.date {
  color: #3e12a5;
  text-align: center;
}

.closeBtn {
  color: #3e12a5;
}
.closeBtn:hover {
  cursor: pointer;
}

.info {
  display: flex;
}

.teamA {
  font-size: 18px;
  color: #3e12a5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamB {
  font-size: 18px;
  color: #3e12a5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamA > img {
  height: 200px;
}

.teamB > img {
  height: 200px;
}

.dropdown {
  color: #3e12a5;
  padding: 1em 1em;
}

.possibleratio {
  color: #3e12a5;
  padding: 1em 1em;
}

.selection {
  color: #3e12a5;
  padding: 1em 1em;
}

.sendBtn {
  background-color: #e84142;
  color: #d9d9d9;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  border: none;
  padding: 1.2em;
  margin-left: 40px;
  font-weight: 700;
  transition: 0.15s ease;
  width: 200px;
  align-self: center;
}

.sendBtn:hover {
  background-color: #dd8080;
  color: #fff;
  cursor: pointer;
  transform: scale(1.02, 1.02);
}

.userInteract {
  display: flex;
  flex-direction: column;
}
